@import "tailwindcss";

:root {
  --def-transition-duration: 0.2s;
  --loader-text-color: #342529;
  --color-text: #ffffffc7;
  --color-accent: #e76a10;
  --color-bg: rgb(79 52 58);
  --color-menu-bg: #2d2123;
}

html {
  font-size: 16px;
  font-family: "Figtree", sans-serif;
  line-height: 1.5;
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* home background animmation */
svg {
  width: 40rem;
  font-weight: 700;
}

svg text {
  font-size: 8rem;
  stroke-width: 2;
  letter-spacing: -6px;
}

svg text.text-body {
  stroke: var(--loader-text-color);
  animation: 4s infinite alternate animate-strokes;
}

@keyframes animate-strokes {
  0% {
    fill: transparent;
    stroke: var(--loader-text-color);
    stroke-width: 3;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 32%;
  }
  50% {
    fill: transparent;
    stroke: var(--loader-text-color);
    stroke-width: 3;
  }
  80%,
  100% {
    fill: var(--loader-text-color);
    stroke: transparent;
    stroke-width: 0;
    stroke-dashoffset: -25%;
    stroke-dasharray: 32% 0;
  }
}

/* menu button at home */
#menu-container {
  position: absolute;
  inset: 0;
  background-color: var(--color-menu-bg);
  text-align: center;
  display: grid;
  place-content: center;
  z-index: 99;
  height: 0;
  transition: height 0.5s cubic-bezier(0.14, 0.65, 0.15, 1);
}

#menu-container a {
  display: inline-block;
  font-size: 2.25rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  transition: color 0.5s ease-in-out;
  color: var(--color-text);
}

#menu-container a:hover {
  color: var(--color-accent);
}

#menu-container li {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

:root[menu-open] #menu-container {
  height: 100%;
}

:root[menu-open] #menu-container li {
  opacity: 1;
}

:root[menu-open] #nav-social a {
  color: var(--color-bg);
}

:root[menu-open] #nav-social li::after {
  background-color: var(--color-bg);
}

#menu-button {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3.5px;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

#menu-button span {
  width: 25px;
  height: 2.5px;
  border-radius: 2px;
  background-color: var(--color-text);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    background-color 0.5s ease-in-out;
  transform-origin: center;
}

:root[menu-open] #menu-button span:nth-child(1) {
  transform: translate3d(0, 6px, 0) rotate(45deg);
}

:root[menu-open] #menu-button span:nth-child(2) {
  transform: scaleX(0);
  opacity: 0;
}

:root[menu-open] #menu-button span:nth-child(3) {
  transform: translate3d(0, -6px, 0) rotate(-45deg);
}

:root[menu-open] #menu-button span {
  background-color: var(--color-text);
}

/* custom backgorunds */
.bg-custom {
  background-color: var(--color-bg);
}
.bg-custom-dark {
  background-color: var(--color-menu-bg);
}
